# Gist ID do estado do monitor (GitHub Actions)
VITE_GIST_ID=2ef280e3330c2e01fc4144a47fb6e8a5
# Token com permissão read:gist (necessário pois o gist é privado)
VITE_GIST_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxx
